*, *::after, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body, table, select, option, textarea, input {
    font-family: "Titillium Web"
}

p {
    margin: 0 0 2em
}

.u-align-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.Form {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}

@media only screen and (min-width:50em) {
    .Form {
        padding: 5em
    }
}

.Form-section {
    margin-right: -1em;
    margin-bottom: 1.5em
}

.Form-section+.Form-section {
    padding-top: 1em;
    border-top: 1px dotted rgba(0, 0, 0, 0.1)
}

.Form-title {
    display: block;
    font-weight: bold;
    margin-bottom: .5em;
}

.Form-label, .Form-label--tick {
    display: block;
}

.Form-label--tick {
    position: relative;
}
input[type="checkbox" i] {
    margin: 0px;
}
.Form-label-radio, .Form-label-checkbox {
    position: relative;
    z-index: -1;
    width: 0px;
    height: 1px;
    opacity: 0;
    overflow: hidden
}

.Form-label-radio+.Form-label-text, .Form-label-checkbox+.Form-label-text {
    cursor: pointer;
}

.Form-label-radio+.Form-label-text::after, .Form-label-checkbox+.Form-label-text::after {
    margin-left: 5px;
    font-size: .875em;
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin-right: .25em;
    content: "\00a0";
    color: white;
    background-clip: padding-box;
    background-color: black;
    border-color: rgb(170, 170, 170) !important;
    text-align: center
}

.Form-label-radio+.Form-label-text:hover::after, .Form-label-checkbox+.Form-label-text:hover::after {
    border-color: #505050 !important;
    box-shadow: 0 0 0 0 black !important
}

.Form-label-radio:checked+.Form-label-text::after, .Form-label-checkbox:checked+.Form-label-text::after {
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 0 black;
    font-family: 'FontAwesome';
    content: "\f00c";
    display: inline-block;
}

.Form-label-radio:focus+.Form-label-text::after, .Form-label-checkbox:focus+.Form-label-text::after, .Form-label-radio:active+.Form-label-text::after, .Form-label-checkbox:active+.Form-label-text::after {
    border-color: #3bb8ff;
    box-shadow: 0 0 2px 0 rgba(0, 135, 212, 0.2)
}

.Form-label-radio+.Form-label-text::after {
    border-radius: 100%
}